.container{
    width: 780px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.header{
    height: 300px;
    border: 1px solid white;
    background-color: cornflowerblue;
}
.img{
   float: right;
   padding: 3px;
}
.description{
    float: left;
    padding: 3px;
    
}
#span{
    margin-left: 20px;
}
.section{
    margin-bottom: 70px;
}
.sec-gauche{
    float: left;
}
.sec-droite{
    margin-left: 400px;
}
#p{
    margin-top: 50px;
}
h1{
    text-align: center;
    letter-spacing: 14px;
}
.formation span{
    margin-top: 15px;
    font-style: italic;
    font-size: small;
}

